.movie__poster {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  margin-right: 10px;
  transition: transform 450ms;
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 15px;
}

.movie__poster:hover {
  transform: scale(1.08);
}

/** Movie Modal **/

.movie__modal__image {
  width: 100%;
}

.movie__modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.movie__modal__container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

}

.movie__modal__titleSection {
  width: 100%;
  background: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie__modal__details{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.movie__modal__details__leftColumn{
  width: 50%;
  font-size: 18px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #141414;
}  

.movie__modal__details__rightColumn{
  width: 50%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #141414;
}

.movie__modal__title {
  font-size: 3.5rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}