.movie__poster {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  margin-right: 10px;
  transition: transform 450ms;
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 15px;
}

.movie__poster:hover {
  transform: scale(1.08);
}

.movie__modal__image {
  width: 400px;
}

.movie__modal{
  display: flex;
  border: 2px solid red;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.movie__modal__container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 2px solid yellow;
}

.movie__modal__details{
  display: flex;
  flex-direction: row;
  border: 5px solid green;
  justify-content: center;
}

.movie__modal__details__leftColumn{
  width: 30%;
  border: 3px solid blue;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}  

.movie__modal__details__rightColumn{
  width: 30%;
  border: 3px solid orange;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}