.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}

.checkoutProduct__price {
  margin-bottom: 6px;
}

.checkoutProduct__info > button {
  cursor: pointer;
  color: black;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  background-color: white;
  height: 2.5rem;
  width: 12rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkoutProduct__info > button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}