.row {
  margin-left: 20px;
  color: #e5e5e5;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  border-radius: 20px;
  background: rgba(186, 186, 186, 0.509);
  
}
.row__posters::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0.43);
  border: 1px grey;
  border-radius: 20px;
}

.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
  cursor: pointer;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.08);
}

